.navbar {
  background-color: #1e2028;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.title {
  background-color: #00acc1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  padding: 3px;
  margin-left: 15px;
  margin-right: 10px;
}

.title h1 {
  color: #fefefe;
  font-size: 1.3em;
  padding-top: 2px;
}

.navlist {
  margin-right: 30px;
}

.menu-item,
.list-item {
  text-decoration: none;
  color: #bdbdbd;
  padding: 5px;
  border-radius: 10%;
  margin-right: 8px;
}

.menu-item:hover,
.list-item:hover {
  color: #006875;
  cursor: pointer;
  background-color: #13151a;
}

.searchBar {
  height: 50%;
  width: 50%;
}

.searchBar input {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  font-size: 1.4em;
  font-weight: bold;
}

.search-container,
.menu-links {
  display: flex;
  width: 100%;
  background-color: #1e2028;
  position: absolute;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.menu-item {
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

.menu-icon {
  margin-right: 30px;
}

.menu-icon:hover {
  cursor: pointer;
}

.search-container input {
  width: 90%;
  border-radius: 3%;
  font-size: 1.4em;
  font-weight: bold;
}

.menu-icon,
.search-icon {
  display: none;
  padding: 3px;
  height: 37px;
  background-color: #00acc1;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  width: 35px;
}

.search-icon {
  padding: 3px 5px;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .navlist {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

@media (max-width: 500px) {
  .title {
    height: 35px;
    font-size: 1em;
  }
  .searchBar {
    width: 35%;
  }
  .searchBar input {
    font-size: 1.1em;
  }
}

@media (max-width: 450px) {
  .searchBar {
    display: none;
  }
  .search-icon {
    display: flex;
  }
}
