.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #bdbdbd;
    height: 350px;
    text-align: center;
}

.not-found h1 {
    font-weight: bolder;
    font-size: 3em;
}

.not-found button {
    padding: 10px;
    border-radius: 8%;
    background-color: #00acc1;
    font-size: 1.1em;
    font-weight: 200;
    border: none;
}
